image:
  - Visual Studio 2019
  - Ubuntu
  - macOS

build_script:
  - cmd:| cd llvm-project
    mkdir build
    cd build
    cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_PROJECTS="clang" -DLLVM_TARGETS_TO_BUILD="Glulx"
    make
